[Unit]
Description=Django Application for My Development Environment
After=multi-user.target
Conflicts=getty@tty1.service

[Service]
Type=simple
ExecStart=/usr/bin/python /home/bellemanwesley/devsite/server/deploy_server.py
StandardInput=tty-force
User=bellemanwesley

[Install]
WantedBy=multi-user.target
