<!DOCTYPE html>
<html>
<title>CodeCheetah</title>
<meta charset="utf-8"/>
<link rel="icon" href="https://image.flaticon.com/icons/svg/490/490119.svg">
<link rel="stylesheet" href="https://wkbdevsite.s3.us-east-2.amazonaws.com/docs.css">

<link rel="stylesheet" href="https://wkbdevsite.s3.us-east-2.amazonaws.com/codemirror.css">
<link rel="stylesheet" href="https://wkbdevsite.s3.us-east-2.amazonaws.com/homepage.css">
<script src="https://wkbdevsite.s3.us-east-2.amazonaws.com/codemirror.js"></script>
<script src="https://wkbdevsite.s3.us-east-2.amazonaws.com/matchbrackets.js"></script>
<style>.CodeMirror {border-top: 1px solid black; border-bottom: 1px solid black;}</style>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<div id=nav>
  <h1>CodeCheetah</h1><img id=logo src="https://images-na.ssl-images-amazon.com/images/I/81LswogGeoL._AC_SY450_.jpg" style="width:100px;" alt="">

  <ul>
    <li><a id="code_page" href="/">Code</a>
    <li><a id="my_network" href="/my_network">My Network</a>
  </ul>
    <form action="/openfile" method="get">
      <input type="text" name="q">
      <input type="text" id="active_page" name="active" hidden value="{% if active_page %}{{active_page}}{% endif %}"></input>
  	  <input type="submit" value="Open">
    </form>
  	<form action="/savefile" method="get">
      <input type="text" name="q" hidden value="{% if default_save %}{{default_save}}{% endif %}"></input>
      <input type="text" id="active_page" name="active" hidden value="{% if active_page %}{{active_page}}{% endif %}"></input>
	  <input class="btn btn-primary" type="submit" value="Save" />
	</form>  
	{% if repos_list %}
		{% for repo in repos_list %}
			<li>{repo}
        {% endfor %}
    {% endif %}
</div>
    <article>
      <form action="savefile" method="get">
      <textarea id="code" name="code">{% if data %}{{data}}{% endif %}</textarea>
        <input type="text" name="q" value="{% if default_save %}{{default_save}}{% endif %}"></input>
        <input type="text" id="active_page" name="active" hidden value="{% if active_page %}{{active_page}}{% endif %}"></input>
	<input class="btn btn-primary" type="submit" value="Save" />
      </form>
	<form action="deploy_code" method="get">
        <input type="text" id="active_page" name="active" hidden value="{% if active_page %}{{active_page}}{% endif %}"></input>
        <input class="btn btn-primary" type="submit" value="Deploy"/>
	</form>
<p>
{% if page_content %}
{{page_content|safe}}
{% endif %}
</p>
	</article>
<script>
document.getElementById("code_page").className = "none";
document.getElementById("my_network").className = "none";
var active_page = "{% if active_page %}{{active_page}}{% endif %}";
document.getElementById(active_page).className = "active";

/*var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
  lineNumbers: true,
});*/
  
</script>

</html>

