<!DOCTYPE html>
<html>
<title>CodeCheetah</title>
<meta charset="utf-8"/>
<link rel="icon" href="https://image.flaticon.com/icons/svg/490/490119.svg">
<link rel="stylesheet" href="https://wkbdevsite.s3.us-east-2.amazonaws.com/docs.css">

<link rel="stylesheet" href="https://wkbdevsite.s3.us-east-2.amazonaws.com/codemirror.css">
<link rel="stylesheet" href="https://wkbdevsite.s3.us-east-2.amazonaws.com/homepage.css">
<script src="https://wkbdevsite.s3.us-east-2.amazonaws.com/codemirror.js"></script>
<script src="https://wkbdevsite.s3.us-east-2.amazonaws.com/matchbrackets.js"></script>
<style>.CodeMirror {border-top: 1px solid black; border-bottom: 1px solid black;}</style>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


<div class=container-fluid>
  <div class=row>
    <div class="col text-right">
  		<h1>CodeCheetah</h1><img id=logo src="https://images-na.ssl-images-amazon.com/images/I/81LswogGeoL._AC_SY450_.jpg" style="width:100px;" alt="">
      		<ul>
              <li><a id="code_page" href="/">Code</a>
              <li><a id="my_network" href="/my_network">My Network</a>
      		</ul>
      	<form action="/openfile" method="get">
          <input type="text" name="q">
          <input type="text" id="active_page" name="active" hidden value="{% if active_page %}{{active_page}}{% endif %}"></input>
          <input type="submit" value="Open">
        </form>
        <form action="/savefile" method="get">
          <input type="text" name="q" hidden value="{% if default_save %}{{default_save}}{% endif %}"></input>
          <input type="text" id="active_page" name="active" hidden value="{% if active_page %}{{active_page}}{% endif %}"></input>
          <input class="btn btn-primary" type="submit" value="Save" />
        </form>  

		{% if repo_tree %}
  			<div class="accordion" id="accordionExample">
              {% for repo in repo_tree %}
              	<button class="btn btn-light btn-block btn-sm" type="button" data-toggle="collapse" data-target="#collapse{{forloop.counter}}" aria-expanded="true" aria-controls="collapseOne">
                   {{repo}}
                </button>
              	<div id="collapse{{forloop.counter}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
  				{% endfor %}
  			</div>
		{% endif %}
  		</div>
		<div class="col-7">
          <br>
      			<form action="savefile" method="get">
     				<textarea id="code" name="code">{% if data %}{{data}}{% endif %}</textarea>
        			<input type="text" name="q" value="{% if default_save %}{{default_save}}{% endif %}"></input>
        			<input type="text" id="active_page" name="active" hidden value="{% if active_page %}{{active_page}}{% endif %}"></input>
					<input class="btn btn-primary" type="submit" value="Save" />
      			</form>
				<form action="deploy_code" method="get">
        			<input type="text" id="active_page" name="active" hidden value="{% if active_page %}{{active_page}}{% endif %}"></input>
        			<input class="btn btn-primary" type="submit" value="Deploy"/>
				</form>
				<p>
					{% if page_content %}
					{{page_content|safe}}
					{% endif %}
				</p>
		</div>
		<div class=col>
		</div>
	</div>
</div>
<script>
document.getElementById("code_page").className = "none";
document.getElementById("my_network").className = "none";
var active_page = "{% if active_page %}{{active_page}}{% endif %}";
document.getElementById(active_page).className = "active";

/*var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
  lineNumbers: true,
});*/
  
</script>

</html>

