<!DOCTYPE html>
<html>
<title>CodeCheetah</title>
<meta charset="utf-8"/>
<link rel="icon" href="https://image.flaticon.com/icons/svg/490/490119.svg">
<link rel="stylesheet" href="https://wkbdevsite.s3.us-east-2.amazonaws.com/docs.css">

<link rel="stylesheet" href="https://wkbdevsite.s3.us-east-2.amazonaws.com/codemirror.css">
<link rel="stylesheet" href="https://wkbdevsite.s3.us-east-2.amazonaws.com/homepage.css">
<script src="https://wkbdevsite.s3.us-east-2.amazonaws.com/codemirror.js"></script>
<script src="https://wkbdevsite.s3.us-east-2.amazonaws.com/matchbrackets.js"></script>
<style>.CodeMirror {border-top: 1px solid black; border-bottom: 1px solid black;}</style>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="/">CodeCheetah</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li id="code_page" class="nav-item">
        <a class="nav-link" href="/">Code</a>
      </li>
      <li id="my_network" class="nav-item">
        <a class="nav-link" href="/my_network">My Network</a>
      </li>                                    
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="container-fluid bg-secondary">
  <br><br><br>
  <div class="row flex-grow-1 overflow-hidden">
    <div class="col">
		{% if repo_accordion %}
  		{{repo_accordion|safe}}
		{% endif %}
  		</div>
		<div class="col-7">
          <br>
      			<form action="/savefile" method="post">
                    <textarea id="code" name="code">{% if data %}{{data}}{% endif %}</textarea>
        			<input type="text" id="default_save" name="q" value="{% if default_save %}{{default_save}}{% endif %}" hidden></input>
  					<input type="text" name="cheetah_key" hidden></input>
  					{% csrf_token %}
                    <input class="btn btn-primary" type="submit" value="Save" />
      			</form>
				<p>
					{% if page_content %}
					{{page_content|safe}}
					{% endif %}
				</p>
		</div>
		<div class=col>
          	<p><input class="btn btn-warning" onclick="load_response('/savefile',save)" value="Save" /></p>
        	<p><input class="btn btn-warning" onclick="load_response('/deploy_code',deploy)" value="Deploy"/></p>
		</div>
	</div>
</div>
<script>
document.getElementById("code_page").className = "none";
document.getElementById("my_network").className = "none";
var active_page = "{% if active_page %}{{active_page}}{% endif %}";
document.getElementById(active_page).className = "active";

var cheetah_keys = document.getElementsByName("cheetah_key");
for (i=0; i<cheetah_keys.length; i++) {
  cheetah_keys[i].value = sessionStorage.getItem("cheetah_key");
}
  
function load_response(url, cFunction) {
  var xhttp;
  xhttp=new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      notify_result(this);
    }
  };
  var send_data = cFunction();
  var send_data = send_data.concat("cheetah_key=".concat(sessionStorage.getItem("cheetah_key")));
  var csrf_token_value = document.getElementsByName("csrfmiddlewaretoken")[0].value;
  var send_data = send_data.concat("&csrfmiddlewaretoken=".concat(csrf_token_value));
  xhttp.open("POST", url, true);
  xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
  xhttp.send(send_data);
}
  
function notify_result(xhttp) {
  alert(xhttp.responseText);
}
  
function deploy() {
 return ""; 
}
  
function save() {
  send_data = "q=".concat(document.getElementById("default_save").value);
  send_data = send_data.concat("&code=".concat(document.getElementById("code").value));
  send_data = send_data.concat("&")
  return send_data
  
}

  
</script>

</html>

